<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <head>
 <!--START HEAD -->
 <%- include('partials/head'); %>
 <!--END HEAD -->
   </head>
   <body class="game_info" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <!-- <div id="preloader">
         <img class="preloader" src="images/loading-img.gif" alt="">
      </div> -->
      <!-- END LOADER -->
      <section id="top">
         <header>
            <div class="container">
               <div class="header-top">
                  <div class="row">
                     <div class="col-md-6">
                        <!-- <div class="full">
                           <div class="logo">
                              <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                           </div>
                        </div> -->
                     </div>
                     <div class="col-md-6">
                        <div class="right_top_section">
                           
                           <ul class="login">
                              <li class="login-modal">
                                 <a href="/" class="login"><i class="fa fa-user"></i>Logout</a>
                              </li>
                              
                           </ul>
                           <!-- end button section -->
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </header>
         <div class="inner-page-banner">
            <div class="container">
            </div>
         </div>
         <div class="inner-information-text">
            <div class="container">
               <h3>Fantasy News</h3>
               
            </div>
         </div>
      </section>
      <section id="contant" class="contant main-heading team">
         <div class="row">
            <div class="container">
               <div class="col-md-12">
                  
                  <div class="feature-post small-blog">
                     <!-- <div class="col-md-5">
                        <div class="feature-img">
                           <img src="images/post2.png" class="img-responsive" alt="#" />
                        </div>
                     </div> -->
                     <div class="col-md-12 text-left">
                        <div class="feature-cont">
                           <div class="post-info">
                              <h4>Add Feed Info</h4>
                              <form>
                                <div class="form-group" >
                                  <label for="exampleInputEmail1">feedUrl</label>
                                  <input type="email" class="form-control" id="feedUrl" ">
                                  
                                </div>
                                <div class="form-group" >
                                    <label for="exampleInputEmail1">title</label>
                                    <input type="text" class="form-control" id="title">
                                    
                                  </div>
                                  <div class="form-group" >
                                    <label for="description">description</label>
                                    <input type="text" class="form-control" id="description">
                                    
                                  </div>
                               
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                 
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
